/* Import vintage and retro fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&display=swap');

body {
  /* background-image: url('/images/niche_movie.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  color: #fcecc9;
} 


/* Card styling */
.card {
  background: rgba(20, 20, 20, 0.85);
  border: 3px double #fcecc9;
  border-radius: 12px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

/* Card title */
.card-title {
  font-family: 'Monoton', cursive;
  color: black;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Input fields */
.form-control {
  font-family: serif;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0;
  font-size: 0.75rem;
  padding: 0.5rem;
}

.form-control:focus {
  color: #ffffff;
  border-color: #ff5555;
  outline: none;
  box-shadow: none;
}

/* Buttons */
.btn-login {
  font-family: serif;
  background: linear-gradient(to right, #d13e4a, #d13e4a);
  border: none;
  padding: 0.75rem 1rem;
  font-size: 0.7rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.btn-login:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Google Button */
.btn-google {
  background-color: #d13e4a;
  font-family: serif;
  padding: 0.75rem 1rem;
  font-size: 0.7rem;
  letter-spacing: 0.08rem;
  cursor: pointer;
}

.btn-google:hover {
  background-color: #d13e4a;
}

/* Error message */
.error {
  color: #d13e4a;
  font-family: serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}